@editor:    #303038;
@panes:     #212127;
@borders:   #18181C;
@text:      #9F9F9F;

@bar-height: 30px;

* {
  color: @text;
}
body * {
    font-family: inherit;
}

body, html, #editor-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: block;
  background-color: @editor;
}
#editor-container {
  position: relative;
}

._meta, .hidden {
  display: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #999999;
}
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

#editor-container {
  height: calc(100% - (@bar-height - 1px));
}

#left-pane {
  display: block;
  height: 100%;
  width: 200px;
  background-color: @panes;
  border-right: 1px solid @borders;
  padding-bottom: (@bar-height - 1px);
  overflow: auto;
}
.tree-view {
  margin: 0px;
  padding-top: 1em;
  list-style-type: none;
  -webkit-padding-start: 1em;

  &:not(#tvl-tree-view) {
    padding-top: 0em;
  }
}
.tv-f-closed {
  ul {
    display: none;
  }

  > span .far.fa-folder-open {
    display: none;
  }
}
.tv-f-open {
  > span .far.fa-folder {
    display: none;
  }
}

#tab-container {
  width: calc(100% - 201px);
  height: @bar-height;
  position: fixed;
  top: 0px;
  left: 201px;
  background-color: @panes;
  border-bottom: 1px solid @borders;
}

#editor {
  width: calc(100% - 201px);
  height: 100%;
  padding: (@bar-height - 1px) 0px;
  position: fixed;
  top: (@bar-height - 1px);
  left: 201px;
  padding: 1px;
}
#mainEditor {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  white-space: nowrap;

  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
  }
}

#status-bar {
  width: 100%;
  height: @bar-height;
  position: fixed;
  bottom: 0px;
  background-color: @panes;
  border-top: 1px solid @borders;

  #right {
    display: flex;
    height: @bar-height;
    float: right;

    * {
      margin: auto;
      padding: 5px;
    }
  }
}

.far {
  margin: 3px;
}

#creation-dialog {
  position: absolute;
  top:  100px;
  left: 53%;
  width:  380px;
  height: 75px;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  padding: 5px;
  border-radius: 5px;
  background-color: multiply(@panes, #CCCCCC);

  z-index: 2;

  input {
    padding: 5px;
    border-radius: 5px;
    border:  none;
    outline: none;

    &:focus {
      border:  2px solid rgba(0, 127, 255, 70);
      outline: none;
    }
    &:active {
      border:  2px solid rgba(0, 127, 255, 70);
      outline: none;
    }
  }
}
